PORT=3010
API_TOKEN=dev-change-me
OCR_TMP_DIR=./ocr-tmp
PDF_MIN_TEXT_CHARS=40
BODY_LIMIT=25mb
SFTP_HOST=oestesaude175831.protheus.cloudtotvs.com.br
SFTP_PORT=1151
SFTP_USER=ftp_CYWSXT_dev
SFTP_PASSWORD=
SFTP_DIR=/dirdoc/co01/shared/
